html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%; /* 100% = 16px; 62.5% = 10px */
  font-family: "Gemunu Libre", sans-serif;
}
.head {
  margin: 0rem 6rem;
  text-align: center;
  font-size: 5rem;
  color: cornflowerblue;
}
.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block_image_card {
  width: 21%;
  margin: 2.5rem;
  box-shadow: 0.4rem 0.3rem 0.8rem 1rem #6d9dc5;
  transition: all 0.3s;
  border-radius: 30px;
}
.block_image_card:hover {
  transform: scale(1.1);
}
.block_image {
  width: 100%;
}
.block_text {
  text-align: center;
  margin: 1rem 0rem;
  font-size: 2rem;
}
.bulbasaur:hover {
  opacity: 0.5;
}
.charmander:hover {
  filter: grayscale();
}
.squirtle:hover {
  filter: sepia();
}
.ivysaur {
  transition: all 0.8s;
}
.ivysaur:hover {
  transform: rotate(360deg);
}
.charmeleon:hover {
  transform: skew(-10deg);
}
.wartortle:hover {
  transform: translate(-1rem, -1rem);
}
.animation_image {
  width: 3vw;
}
@keyframes animation {
  0% {
    top: 1rem;
    left: 1rem;
  }
  25% {
    top: 1rem;
    left: 4rem;
  }
  50% {
    top: 4rem;
    left: 4rem;
  }
  75% {
    top: 4rem;
    left: 1rem;
  }
  100% {
    top: 1rem;
    left: 1rem;
  }
}
.animation {
  position: absolute;
  animation-name: animation;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-direction: linear;
}
@media (max-width: 768px) {
  .head {
    font-size: 3.5rem;
    margin: 0rem 4rem;
    color: cadetblue;
  }
  .block_image_card {
    width: 20%;
    margin: 2rem;
  }
  .block_text {
    font-size: 1.5rem;
  }
  @keyframes animation {
    0% {
      top: 1rem;
      left: 1rem;
    }
    25% {
      top: 1rem;
      left: 2rem;
    }
    50% {
      top: 2rem;
      left: 2rem;
    }
    75% {
      top: 2rem;
      left: 1rem;
    }
    100% {
      top: 1rem;
      left: 1rem;
    }
  }
}
@media (max-width: 390px) {
  .head {
    font-size: 3rem;
    margin: 0rem 2rem;
    color: blueviolet;
  }
  .block_image_card {
    width: 20%;
    margin: 1.2rem;
  }
  .block_text {
    font-size: 1rem;
  }
  @keyframes animation {
    0% {
      top: 0.5rem;
      left: 0.5rem;
    }
    25% {
      top: 0.5rem;
      left: 1rem;
    }
    50% {
      top: 1rem;
      left: 1rem;
    }
    75% {
      top: 1rem;
      left: 0.5rem;
    }
    100% {
      top: 0.5rem;
      left: 0.5rem;
    }
  }
}
