html,
body,
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: 62.5%; /* 100% = 16px; 62.5% = 10px */
  font-family: "Gemunu Libre", sans-serif;
}
.body {
  background-color: #b8c5d6;
}
.head {
  margin: auto;
  text-align: center;
  font-size: 5rem;
}
.flex_container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}
.block_image_card {
  width: 21%;
  margin: 4rem;
  box-shadow: 0.4rem 0.3rem 0.8rem 1rem #6d9dc5;
  transition: all 0.3s;
}
.block_image_card:hover {
  transform: scale(1.2);
}
.block_image {
  width: 100%;
}
.block_text {
  text-align: center;
  margin: 1rem;
  font-size: 2rem;
}
.bulbasaur:hover {
  opacity: 0.5;
}
.charmander:hover {
  filter: grayscale();
}
.squirtle:hover {
  filter: sepia();
}
.venusaur {
  transition: all 0.8s;
}
.venusaur:hover {
  transform: rotate(360deg);
}
.charizard:hover {
  transform: skew(-10deg);
}
.blastoise:hover {
  transform: translate(-5rem, -5rem);
}
.animation_image {
  width: 3vw;
}
@keyframes animation {
  0% {
    top: 1rem;
    left: 1rem;
  }
  25% {
    top: 1rem;
    left: 4rem;
  }
  50% {
    top: 4rem;
    left: 4rem;
  }
  75% {
    top: 4rem;
    left: 1rem;
  }
  100% {
    top: 1rem;
    left: 1rem;
  }
}
.animation {
  position: absolute;
  animation-name: animation;
  animation-duration: 4s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
}
